<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/vkexplorer.css">
    <script type="text/javascript" src="/static/js/vkexplorer.js"></script>
    <title>{{ .Title }}</title>
</head>
<body>
<header>
    <nav class="menu">		
		<a class={{ if eq .MainMenu 0 }} "selmenuitem" {{ else }} "menuitem" {{ end }} href="/">Home</a>
        <a class={{ if eq .MainMenu 1 }} "selmenuitem" {{ else }} "menuitem" {{ end }} href="/users?page=1">Users</a>
        <a class={{ if eq .MainMenu 2 }} "selmenuitem" {{ else }} "menuitem" {{ end }} href="/groups?page=1">Groups</a>
        <a class={{ if eq .MainMenu 3 }} "selmenuitem" {{ else }} "menuitem" {{ end }} href="/posts?page=1">Posts</a>
        <a class={{ if eq .MainMenu 4 }} "selmenuitem" {{ else }} "menuitem" {{ end }} href="/tasks?page=1">Tasks</a>
        <a class={{ if eq .MainMenu 5 }} "selmenuitem" {{ else }} "menuitem" {{ end }} href="/about">About</a>
    </nav>
    <div id="tasksctl">
        <button id="controlbtn">START</button>
        <span id="statusbar">undefined</span>
    </div>
</header>
<main>
    {{block "content" .}} no content {{end}}
</main>
<footer>
    <br><br><br><br><br>
    <hr>
    Site created using <strong>Golang</strong>
</footer>
</body>
</html>
