{{define "content"}}
{{template "usermenu" .}}
<h1>USER: <a href="https://vk.com/id{{.Id}}">{{.Id}}</a> {{ .Name }}</h1>
{{template "search" .}}
{{template "tags" .}}
{{template "pagination" .}}
{{template "userlist" .}}
{{template "pagination" .}}
{{end}}
