{{define "content"}}
{{template "groupmenu" .}}
<h1>GROUP: <a target="_blank" href="https://vk.com/public{{.Id}}">{{.Id}}</a> {{ .Name}}</h1>
<button type="button" onclick="sendUpdateQueryARG('/update-group-members', {{ .Id }})">Update All Members</button>
<button type="button" onclick="sendUpdateQueryARG('/update-group-posts', {{ .Id }})">Update All Posts</button>
<button type="button" onclick="sendUpdateQueryARG('/update-group-likes', {{ .Id }})">Update All Likes</button>
<p>Members Updated: {{.MembersUpdated}}</p>
<p>Wall Updated: {{.WallUpdated}}</p>
{{end}}
