{{define "content"}}
<h1>GROUPS: {{ .Count}}</h1>
<div>
<button type="button" onclick="updateCheckedGroupMembers()">Update GroupMembers</button>
<button type="button" onclick="updateCheckedGroupWall()">Update GroupWall</button>
</div>
{{template "search" .}}
{{template "tags" .}}
{{template "pagination" .}}
{{template "grouplist" .}}
{{template "pagination" .}}
{{end}}
