{{define "content"}}
<h1>HOME</h1>
<h3>If you run this app form new IP, follow this link, enable app, copy URL and paste this into input form</h3>
<form>
Your App ID:<br>
<input type="text" id="app_id" placeholder="Enter App ID" value="{{.AppID}}"></input>
<button  type="button" onclick="openURL(event)">Open VK auth link</button>
</form>
<h3>Input URL from browser address line to input form:</h3>
<form>
Input VK URL:<br>
    <textarea id="app_url" style="width: 50%;" rows="5"></textarea>
    <br><button onclick="postURL(event)">Authorize</button>
</form>
<h3>Your data</h3>
<table border='1' style='border-collapse: collapse;'>
    <tr><td>Access Token</td><td>{{.AppURL}}</td></tr>
    <tr><td>Recent IP</td><td>{{.RecentIP}}</td></tr>
    <tr><td>Current IP</td><td>{{.CurrentIP}}</td></tr>
    <tr><td>DB connected</td><td>{{.DBConnected}}</td></tr>
    <tr><td>DB tables</td><td>{{.DBTables}}</td></tr>
</table>
<h3>Tasks: {{.TasksCount}}</h3>
<button type="button" onclick="sendUpdateQuery('/update-my-friends')">Update My Friends</button>
<button type="button" onclick="sendUpdateQuery('/update-my-groups')">Update My Groups</button>
<button type="button" onclick="sendUpdateQuery('/update-my-bookmarks')">Update My Bookmarks</button>
<p>
<input type="text" id="user_id" placeholder="Enter User ID or URL" value=""></input>
    <button type="button" onclick="sendUpdateQueryARG('/update-user-data', document.getElementById('user_id').value)">Upsert User Data</button>
    <button type="button" onclick="sendUpdateQueryARG('/update-user-friends', document.getElementById('user_id').value)">Update User Friends</button>
    <button type="button" onclick="sendUpdateQueryARG('/update-user-groups', document.getElementById('user_id').value)">Update User Groups</button>
    <button type="button" onclick="sendUpdateQueryARG('/update-user-wall', document.getElementById('user_id').value)">Update User Wall</button>

<p>
<input type="text" id="group_id" placeholder="Enter Group ID or URL" value=""></input>
    <button type="button" onclick="sendUpdateQueryARG('/update-group-data', document.getElementById('group_id').value)">Upsert Group Data</button>
    <button type="button" onclick="sendUpdateQueryARG('/update-group-members', document.getElementById('group_id').value)">Update Group Members</button>
    <button type="button" onclick="sendUpdateQueryARG('/update-group-wall', document.getElementById('group_id').value)">Update Group Wall</button>

<p><hr></p>
<h3>Proxy (do not forget to set a proxy in your browser when receiving the access token)</h3>
<h4></h4>
<form>
    <input type="checkbox" id="proxy_use" {{if .ProxyUsage}}checked{{end}}></input><label for="proxy_use">Use proxy</label>
    <input type="text" id="proxy_addr" placeholder="host:port" value="{{.ProxyAddr}}"></input>
    <button type="button" onclick="setProxy(event)">Set</button>
</form>
<p><hr></p>
<form action="/exit" method="post">
    <input type="submit" value="Exit Server App">
</form>

{{end}}
