{{define "content"}}
<h1>TASKS: {{ .Count}}</h1>
<table border="1" style='border-collapse: collapse; width:100%'>
    <tr>
        <th>Task</th>
    </tr>
    {{range .Names}}
    <tr>
        <td>&nbsp;{{.}}</td>
    </tr>
    {{end}}
</table>

{{end}}
