{{define "content"}}
<h1>USERS: {{ .Count }}</h1>
<button type="button" onclick="sendUpdateQueryCB('/update-checked-user-friends')">Update UserFriends</button>
<button type="button" onclick="sendUpdateQueryCB('/update-checked-user-groups')">Update UserGroups</button>
<button type="button" onclick="sendUpdateQueryCB('/update-checked-user-wall')">Update UserWall</button>
<button type="button" onclick="sendUpdateQueryCB('/update-checked-user-test')">Test</button>
<p/>
{{template "search" .}}
{{template "tags" .}}
{{template "pagination" .}}
{{template "userlist" .}}
{{template "pagination" .}}
{{end}}
