{{define "content"}}
<h1>USERS: {{ .Count }}</h1>
<button type="button" onclick="updateCheckedUserFriends()">Update UserFriends</button>
<button type="button" onclick="updateCheckedUserGroups()">Update UserGroups</button>
<button type="button" onclick="updateCheckedUserWall()">Update UserWall</button>
<p/>
{{template "pagination" .}}
{{template "userlist" .}}
{{template "pagination" .}}
{{end}}
