{{define "filters"}}
<div class="navbar">
    <span>Filters:</span>
    <button type="button" id="set" onclick="applyFilters()">Apply</button>
    <input type="checkbox" id="scales" name="scales" checked="" />
</div>
{{end}}