{{define "pagination"}}
<div class="navbar">
    <span class="navtext">Page {{.CurrentPage}} :</span>
    {{if gt .CurrentPage 1}}
    <a class="navitem" href="?page=1{{.SearchArg}}">First (1)</a>
    <a class="navitem" href="?page={{.PrevPage}}{{.SearchArg}}">Prev ({{.PrevPage}})</a>
    {{else}}
    <span class="navitem">First</span>
    <span class="navitem">Prev</span>
    {{end}}
    <a  class="navitem" href="?page=0{{.SearchArg}}">All</a>
    {{if lt .CurrentPage .TotalPages}}
    <a  class="navitem" href="?page={{.NextPage}}{{.SearchArg}}">Next ({{.NextPage}})</a>
    <a  class="navitem" href="?page={{.TotalPages}}{{.SearchArg}}">Last ({{.TotalPages}})</a>
    {{else}}
    <span class="navitem">Next</span>
    <span class="navitem">Last</span>
    {{end}}
</div>
{{end}}
