{{define "search"}}
<div>
    Search:
    <input type="text" id="search" placeholder="Enter searched text" value=""></input>
    <button type="button" onclick="searchInGroups()">Search</button>
</div>
{{end}}