{{define "sort"}}
{{ $topLevel := . }}
{{range .Columns}}
<th>{{.Name}}
&nbsp;
<a href="?{{$topLevel.SortExtraArg}}&sort={{.Name}}&desc=0"><img src="/static/images/up.png"></a>
&nbsp;
<a href="?{{$topLevel.SortExtraArg}}&sort={{.Name}}&desc=1"><img src="/static/images/dn.png"></a>
</th>
{{end}}

{{end}}
