{{define "usermenu"}}
<h3><a href="/user/{{.Id}}">Info</a>
    <a href="/friends/{{.Id}}">Friends</a>
    <a href="/membership/{{.Id}}">Membership</a>
    <a href="/userwall/{{.Id}}">Wall</a>
</h3>
{{end}}