{{define "userlist"}}
<table border='1' style='border-collapse: collapse;' width='100%'>
    <tr>
        <th><input type="checkbox" id="all" name="all" onclick="checkAll()"/></th>
        <th>URL</th>
        <th>Name</th>
        <th>Oldest</th>
        <th>Newest</th>
    </tr>
    {{range .Items}}
    <tr>
        <td><input type="checkbox" id="{{.Id}}" name="{{.Id}}"/></td>
        <td><a href="https://vk.com/id{{.Id}}" target="_blank">{{.Id}}</a></td>
        <td><a href="/user/{{.Id}}">&nbsp;{{.Name}}</a></td>
        <td>{{.Oldest}}</td>
        <td>{{.Newest}}</td>
    </tr>
    {{end}}
</table>
{{end}}
