{{define "content"}}

<h1>GROUP: <a href="https://vk.com/public{{.Gid}}">{{.Gid}}</a> {{ .Name}}</h1>

<h2>Members</h2>
<table border='1' style='border-collapse: collapse;' width='100%'>
    <tr>
        <th><input type="checkbox" id="all" name="all" onclick="checkAll()"/></th>
        <th>URL</th>
        <th>Name</th>
    </tr>
    {{range .Members}}
    <tr>
        <td><input type="checkbox" id="{{.Uid}}" name="{{.Uid}}"/></td>
        <td><a href="https://vk.com/id{{.Uid}}" target="_blank">{{.Uid}}</a></td>
        <td><a href="/user/{{.Uid}}">&nbsp;{{.Name}}</a></td>
    </tr>
    {{end}}
</table>
<h2>Wall</h2>

{{ $topLevel := . }}
<table border='1' style='border-collapse: collapse;' width='100%'>
    <tr>
        <th><input type="checkbox" id="all" name="all" onclick="checkAll()"/></th>
        <th>PostURL</th>
        <th>FromURL</th>
        <th>Text</th>
    </tr>
    {{range .Wall}}
    <tr>
        <td><input type="checkbox" id="{{.Pid}}" name="{{.Pid}}"/></td>
        <td><a href="https://vk.com/wall-{{$topLevel.Gid}}_{{.Pid}}" target="_blank">{{.Pid}}</a></td>
        <td><a href="https://vk.com/id{{.Fid}}" target="_blank">{{.Name}}</a></td>
        <td>{{.Text}}</td>
    </tr>
    {{end}}
</table>
{{end}}
